DATABASE_URL=postgresql://docker:docker@localhost:5432/boilerplate_development
RAILS_ENV=development
RAILS_MASTER_KEY=your-master-key-here
CORS_ORIGIN=http://localhost:4200
OTLP_ENDPOINT=http://localhost:4317
